.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Header Header Header ."
    "Nav Yikes Nicki ."
    "Nav Yikes Nicki ."
    "Footer Footer Footer .";
}

body {
  background-color: darkorange;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}

img {
  width: 512px;
  height: 256px;
}

ol{
  background-color: white;
}

ul {
  background-color: yellow;
  list-style-type: none;
  width: 170px;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  color: #000;
  padding: 6px 12px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

table, th, td {
  border: 2px solid firebrick;
  text-align: center;
}

#cars {
  font-family: 'Courier New', Courier, monospace;
  border-collapse: collapse;
  width: 100%;
}

#cars td, #cars th {
  border: 2px solid whitesmoke;
  padding: 6px;
}

#cars tr:nth-child(even) {
  background-color:#f1f1f1;
}

#cars tr:hover {
  background-color: #ddd;
}

#cars th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: lightskyblue;
  color: mediumslateblue;
}

.Header { grid-area: Header; color: firebrick; text-align: center; background-color: mediumslateblue;}

.Footer { grid-area: Footer; background-color: mediumslateblue; color: maroon; text-align: center;}

.Nav { grid-area: Nav; background-color: lightskyblue; color: yellowgreen;}

.Yikes { grid-area: Yikes; background-color: tomato; color: yellow; text-align: center;}

.Nicki { grid-area: Nicki; background-color: limegreen; color: firebrick;}

@media screen and (max-width: 992px) {
  body {
    background-color: magenta;
    color: white;
  }

  .Header {
    font-family: "Lucida Console", Courier, monospace;
    background-color: tomato;
  }

  .Footer {
    font-family: "Lucida Console", Courier, monospace;
    color: yellow;
    background-color: limegreen;
  }

  .Nav {
    font-family: "Lucida Console", Courier, monospace;
    background-color: mediumslateblue;
  }

  .Yikes {
    font-family: "Lucida Console", Courier, monospace;
    color: maroon;
    background-color: lightskyblue;
  }

  .Nicki {
    font-family: "Lucida Console", Courier, monospace;
    background-color: orange;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: lawngreen;
    color: white;
  }

  .Header {
    font-family: "Lucida Console", Courier, monospace;
  }

  .Footer {
    font-family: "Lucida Console", Courier, monospace;
  }

  .Nav {
    font-family: "Lucida Console", Courier, monospace;
  }

  .Yikes {
    font-family: "Lucida Console", Courier, monospace;
  }

  .Nicki {
    font-family: "Lucida Console", Courier, monospace;
  }
}